h1 {
   font-size: 3.5rem;
}

.login-container {
   margin-top: 50px;
   text-align: center;
}

.login-container form {
   text-align: left;
   position: fixed;
   height: 100px;
   width: 80%;
   margin: auto;
   margin-top: -100px;
   top: 50%;
   left: 10%;
}

.login-container .form-container {
   background-color: lightgray;
   padding: 20px;
   text-align: right;
}

.login-container .button-container {
   text-align: center;
}

button {
   margin-top: 20px;
   border: 1px solid black;
}
