extends layout

block content
  h1= title
  p Welcome to #{title}
  
  div
    form(action='/login',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='email') email
            input(id='email',type='text',value='',placeholder='@',name='email')

      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='phone') phone
            input(id='phone',type='text',value='',placeholder='@',name='phone')

      div#passworddiv(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='password') password
            input(id='password',type='password',value='',placeholder='',name='password')

      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='username') username
            input(id='username',type='text',value='',placeholder='',name='username')

      div(data-role='fieldcontain')
        fieldset(data-type='vertical', data-role='controlgroup')                                           
        label(for='showpass') show password
        input(id='showpass',type='checkbox')

      div(data-role='fieldcontain')   
        input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')